name: Auto Update my.m3u

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-m3u:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download M3U
        run: |
          curl -L -o my.m3u https://raw.githubusercontent.com/alex8875/m3u/refs/heads/main/jtv.m3u

      - name: Commit & Push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add my.m3u
          git diff --cached --quiet || git commit -m "Auto update my.m3u"
          git push
